---
created: {{last_refreshed.split(" ")[0]}}
updated: {{last_refreshed.split(" ")[0]}}
last_updated_session: {{last_refreshed_by}}
---

# {{flow.replace("-", " ").replace("_", " ") | title}} Flow

## Overview

## Entry Points

## Sequence Diagram

## Execution Trace

## Notes

## Observability

## Related docs

## Manual Notes

## Changelog
- {{last_refreshed.split(" ")[0]}}: Created flow doc scaffold ({{last_refreshed_by}})
