# Spec {{ spec_num }}: {{ spec_name | replace("-", " ") | title }}

## Status

## Goal

## Requirements

## Plan

## Validation

## Manual Notes

[keep this for the user to add notes. do not change between edits]

## Changelog
