---
title: {{title}}
last_refreshed: {{last_refreshed}}
last_refreshed_by: {{last_refreshed_by}}
---

# {{state_name.replace("-", " ").replace("_", " ") | title}} State Doc

## meta

## inputs

### direct inputs

### runtime inputs used in predicates

### statsig inputs

### statsig snapshot

## intermediary state

### derivation ledger: [derived_value_name]

## outputs

### O1. [output label]

## known unknowns

## Manual Notes

[keep this for the user to add notes. do not change between edits]

## Changelog
- [date]: [description of update] ([agent session id] - [current git sha])
