---
title: {{title}}
last_refreshed: {{last_refreshed}}
last_refreshed_by: {{last_refreshed_by}}
---

# Research Brief: {{research_topic.replace("-", " ").replace("_", " ") | title}}

## Executive Summary

## Research Methodology

## Research Findings

## Comparative Analysis

## Best Practices

## Open Research Questions

## Recommendations

## References

## Appendices

## Manual Notes 

[keep this for the user to add notes. do not change between edits]

## Changelog
- [date]: [description of update] ([agent session id] - [current git sha])
